<h1 i18n>Καλωσήρθατε στο τεστ!</h1>
<ng-container *ngIf="userIsLoggedIn">
  <p i18n>Συνδεθείτε για να δείτε</p>
  <form (ngSubmit)="login()">
    <label for="password" i18n>Κωδικός:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
    />
    <button type="submit" i18n>Είσοδος</button>
  </form>
</ng-container>
<a target="_parent" href="https://test-ng-deeplinks.web.app/en" i18n>English</a>
<a target="_parent" href="https://test-ng-deeplinks.web.app/el" i18n
  >Ελληνικά</a
>
<router-outlet></router-outlet>
