body {
  font-family: "Arial", sans-serif;
  background-color: #f4e1e1; /* light pink */
  color: #305959; /* dark turquoise for contrast */
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 2em;
  color: #3ab7bf; /* turquoise */
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
}

.loading {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
